.card-img-full {
  height: 200px;
  object-fit: contain;
  background: black;
}

.card-text {
  max-height: 70px;
  overflow-y: auto;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.button-add {
  display: none;
  cursor: pointer;
}
@media (min-width: 800px) {
  .card {
    height: 400px;
  }
  .button-add {
    display: block;
    width: 40px;
    position: fixed;
    bottom: 20px;
  }
}
